<br />
<h4> AWARDS </h4>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<li> NAMRC 49 / MSEC 2021 NSF Student Support Award, 2021</li>
		<li> Excellent Student Scholarship, HKUST, 2019</li>
		<li> Outstanding Graduate, NUAA, 2018</li>
		<li> Straight-A Student, NUAA, 2014-2015, 2015-2016, 2016-2017 & 2017-2018</li>
		<li> Award of Pacemaker to Merit Student (Only one in each major), NUAA, 2014-2015</li>
		<li> A-Level Scholarship (Only top 5% of students), NUAA, 2014-2015, 2015-2016 & 2017-2018</li>
		<li> National Encouragement Scholarship, 2015</li>
		<li> Outstanding Student Cadre in NUAA, 2016</li>
		<li> ‘SANHE CUP’ National Network Contest for Helicopter, First Prize, 2016</li>
	</div>
</div>
<br />
<h4> HONORS </h4>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<li> TukuChina.cn Contracted Photographer</li>
	</div>
</div>

   
   
 