<br />
<h4> CODING </h4>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p> <b>Advanced:</b> C++, C#, MATLAB </p>
		<p> <b>Intermediate:</b> Python, Git, Linux, C </p>
		<p> <b>Beginner:</b> HTML , CSS , Javascript</p>
	</div>
</div>
<br />
<h4> TEACHING </h4>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p> <b>Mechanical Engineering:</b> Fluid Mechanics (Intro & Advanced), Numerical Methods, Aerodynamics, Robotics (Intro & Advanced), Autonomous Systems and Artificial Intelligence </p>
		<p> <b>Industrial & Systems Engineering:</b> Robotics and Automation, Materials Processing, Simulation Analysis, 3D Printing, Cyber-Physical Systems and Internet of Things (IoT),  Human-Robot Interaction</p>
		<p> <b>Computer Science:</b> Foundations of Human-Computer Interaction,  User-Centered Design Methods, Robot Perception, Robot Localization, Machine Learning for Robotics</p>
	</div>
</div>
<br />
<h4> SOFTWARE </h4>
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-11">
		<p> <b>Robotics:</b> ROS, RVIZ, ROBOGUIDE, V-REP, RobotStudio, MoveIt</p>
		<p> <b>VR/AR/XR:</b> Unity3D, OpenXR, Vuforia, MRTK, ARKit, ARCore</p>
		<p> <b>3D Printing:</b> Simplify3D, Eiger, UltiMaker Cura</p>
		<p> <b>CAD:</b> Solidworks, 3ds Max, Fusion 360, Blender</p>
		<p> <b>Image and Video:</b> Photoshop, Lightroom, Premiere, FCPX, After Effects, DaVinci </p>
		<p> <b>CV & ML:</b> OpenCV </p>
	</div>
</div>

   
   
 