<footer>
            <!--
                <div class="social">
                    <a href="http://instagram.com/{{ site.instagram_username }}"><i class="icon ion-social-instagram"></i></a>
                    <a href="#"><i class="icon ion-social-snapchat"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                </div>
            -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://vinkoyang.github.io">Home</a></li>
                <li class="list-inline-item"><a href="https://vinkoyang.github.io/about">About</a></li>
                <li class="list-inline-item"><a href="https://vinkoyang.github.io/blog">Blog</a></li>
                <li class="list-inline-item"><a href="https://vinkoyang.github.io/gallery">Gallery</a></li>
                <li class="list-inline-item"><a href="https://vinkoyang.github.io/contact">Contact</a></li>
                <!--
                {% for i in site.urls %}
                  <li class="list-inline-item">
                    <a href="{{ site.url}}{{site.baseurl}}{{ i.url }}"
                      >{{ i.text }}</a
                    >
                  </li>
                {% endfor %}
            -->
            </ul>
            <p class="copyright">Wenhao Yang © 2023</p>
</footer>
