---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>

    <!-- hero section-->
    {%- include hero.html -%}


    <div class="col-md-8 offset-md-2">
      <div class="home_card">
        <h1 class="home_card-title-center"><a href="/about">About me</a></h1>
        <h4 class="home_card-title-center">Welcome to the Wacky World of Wenhao Yang!</h4>

        <div class="col-md-10 offset-md-1">
          <p>Hey there, fellow humans and curious robots! I go by the name Wenhao Yang, proudly identified as a Ph.D. candidate (since 2019 - I know, sounds like forever!) in the <a href="https://www.rit.edu/engineering/ise">Department of Industrial and Systems Engineering (ISE)</a> at <a href="https://www.rit.edu">Rochester Institute of Technology (RIT)</a>, under the guidance of the <a href="https://www.willyunbozhang.com/">Prof. Yunbo Zhang</a>. Before I got tangled up in this wild Ph.D. adventure, I earned my Master's degree in 2019 at <a href="https://hkust.edu.hk/">The Hong Kong University of Science and Technology (HKUST)</a>, where I had the privilege of being mentored by <a href="https://seng.hkust.edu.hk/about/people/faculty/kai-tang">Prof. Kai Tang</a>. Prior to that, I earned my Bachelor's degree (2014-2018) at the esteemed <a href="http://nuaa.edu.cn/">Nanjing University of Aeronautics and Astronautics (NUAA)</a>, graduating with Magna Cum Laude Honors.</p>

          <p>In my scholarly pursuits, I am particularly passionate about harnessing the power of Extended Reality (XR) prototyping systems to tackle real-world challenges in manufacturing and robotics, with a strong emphasis on robot programming and human-robot collaboration. My research vision is deeply rooted in advancing the principles of Industry 4.0 and embracing the concept of smart manufacturing.</p>

          <p>Beyond my academic endeavors, I cherish the art of photography, the adrenaline rush of snowboarding, the joy of vlogging, the soul-stirring melodies of rock & roll, and the magic of playing the guitar.</p>

          <p>As I set my sights on the horizons of possibility, I eagerly embrace the prospects of both academia and the bustling industry job market. I am driven to collaborate, innovate, and propel transformative advancements in the dynamic realms of Human-Robot Interaction and Augmented Reality.</p>
        </div>

      </div>
    </div>
    <br />
    <div class="home_card_v2">
      <h1 class="home_card-title-center">News & Updates</h1>
      <div class="col-md-8 offset-md-2">
        <div class="col-md-10 offset-md-1">
          <div class="scroll">
            <ul>
              <li class="home_des"> <b>[2023-08]</b> Joining <a href="https://event.asme.org/IDETC-CIE">IDETC-CIE 2023</a> in Boston, MA! Presenting two groundbreaking works: <a href="https://asmedigitalcollection.asme.org/computingengineering/article-abstract/doi/10.1115/1.4062658/1163679/I-can-see-your-password-A-case-study-about?redirectedFrom=fulltext">tackling cybersecurity risks in smart manufacturing</a> and advancing global calibration in VST AR system.</li>
              <li class="home_des"> <b>[2023-06]</b> Thrilled to attend <a href="https://msec-namrc2023.rutgers.edu/about">NAMRC-MSEC 2023</a> in Rutgers, NJ. Engaging with experts, and exploring manufacturing innovations.</li>
              <li class="home_des"> <b>[2023-05]</b> Exciting news! <a href="https://asmedigitalcollection.asme.org/computingengineering/article-abstract/doi/10.1115/1.4062658/1163679/I-can-see-your-password-A-case-study-about?redirectedFrom=fulltext">“I can see your password”: A case study about cybersecurity risks in mid-air interactions of mixed reality-based smart manufacturing applications</a> was accepted in the Journal of Computing and Information Science in Engineering (JCISE).
  </li>
              <li class="home_des"> <b>[2023-04]</b> Two abstracts accepted for IDETC-CIE 2023. Ready to showcase cutting-edge research on the global stage.
  </li>
              <li class="home_des"></li>
            </ul>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>

<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=300&t=tt&d=M_x1k4nh3QB4hmkRqHoX--aquGmlEU-BmfNsf6DGgdU&co=1c1c1e&cmo=a1d6e2&cmn=ff8a00&ct=f2f2f2'></script>
  </div>
</div>